{% extends 'base.html' %}

{% block content %}
<section class="categories">
    {% if categoria %}
        <h2 class="categories-title">Posts na categoria "{{ categoria.nome }}"</h2>
    {% else %}
        <h2 class="categories-title">Posts</h2>
    {% endif %}
    <ul class="category-list">
        {% for post in posts %}
            <li class="category-item">
                <a href="{% url 'detalhes_post' post.id %}" class="category-link">{{ post.titulo }}</a>
            </li>
        {% endfor %}
    </ul>
    <br>
</section>
{% endblock %}